<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EEG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E0AB77781E89DD5E00CD6638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0AB778C1E89DD5F00CD6638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0AB77971E89DD5F00CD6638</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
